<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="dk.dda.ddieditor.spss.command.ImportSpss"
            id="dk.dda.ddieditor.spss.command.ImportSpss"
            name="Import SPSS">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:filemenu-importmenu?after=merge-ddi">
         <command
               commandId="dk.dda.ddieditor.spss.command.ImportSpss"
               icon="icons/Document.png"
               id="import-study-level-info"
               label="SPSS file"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
